
    
<!-- <div class="container">
    <h1> WHAT'S YOUR GENDER?</h1>
    <button style='margin-right:16px'>Female</button>
    <button style='margin-right:16px'>Male</button>

</div> -->


<div class="container p-3 my-3 bg-dark text-white">
    <h3>PLEASE SELECT YOUR GENDER</h3>
    <br>
    <button class="link mx-5" (click)="clickButton('female')">Female <i class="bi bi-gender-female"></i></button>
    
    <button class="link" (click)="clickButton('male')">Male <i class="bi bi-gender-male"></i></button>

<br>
</div>
<br>
